@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
body {
    font-size: 1rem;
}

.export-excel {
    background: #39825a;
    position: fixed;
    z-index: 500;
    bottom: 10px;
    right: 0;
    cursor: pointer;
}

.export-excel span {
    color: #fff;
}

.chart-fix-height {
    height: 200px;
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
/* #show-sidebar, */
#close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
    height: 100vh;
    left: -300px;
}

.page-wrapper .sidebar-wrapper,
.page-wrapper .sidebar-background {
    height: 100vh;
    left: -300px;
}

@media (min-width: 768px) {
    .page-wrapper {
        height: 100vh;
        left: 0;
    }
    .page-wrapper .sidebar-wrapper,
    .page-wrapper .sidebar-background {
        height: 100vh;
        left: 0;
    }
    .page-wrapper {
        padding-left: 260px;
    }
}

.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
}

.page-wrapper .theme.chiller-theme {
    background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 999;
}

@media (min-width: 768px) {
    .sidebar-wrapper {
        left: 0px;
    }
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    width: 260px;
    background-color: #f8f9fa;
    z-index: 1500;
    box-shadow: 0px 5px 5px 0px #a4a6a6;
}

.sidebar-content.desktop {
    overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
    background-color: #343a40;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    height: 56px;
    line-height: 58px;
    font-size: 1.25rem;
}

.sidebar-wrapper .sidebar-brand > a {
    font-weight: bold;
    flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
    float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
    display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
    padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
    position: relative;
    overflow-y: auto;
    max-height: calc(100% - 188px);
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f105';
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-none-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-none-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: '\f111';
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
}

.sidebar-wrapper
    .sidebar-menu
    .sidebar-none-dropdown
    .sidebar-submenu
    li
    a
    .badge,
.sidebar-wrapper
    .sidebar-menu
    .sidebar-none-dropdown
    .sidebar-submenu
    li
    a
    .label {
    float: right;
    margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px;
}

.sidebar-wrapper .sidebar-menu .sidebar-none-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
    position: absolute;
    width: 260px;
    bottom: 0;
    display: flex;
}

.sidebar-footer > a {
    flex-grow: 1;
    text-align: center;
    height: 50px;
    line-height: 50px;
    position: relative;
}

.sidebar-footer > a .notification {
    position: absolute;
    top: 0;
}

.badge-sonar {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
}

.badge-sonar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

.page-wrapper .page-content > div {
    padding: 20px 40px;
}

.page-wrapper .page-content {
    overflow-x: hidden;
    margin-top: 56px;
}

@media (min-width: 768px) {
    .page-content {
        margin-top: 0 !important;
    }
}

@media (min-width: 992px) {
    .page-content {
        margin-top: 0 !important;
    }
}

@media (min-width: 1200px) {
    .page-content {
        margin-top: 0 !important;
    }
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #525965;
}
::-webkit-scrollbar-thumb:active {
    background: #525965;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}
::-webkit-scrollbar-track:active {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/
.chiller-theme .sidebar-background {
    background-color: rgba(52, 58, 64, 0.5);
    width: 100%;
    left: calc(100% * -1);
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1400;
}

.toggled .sidebar-background {
    left: 0;
    transition: background-color 2s linear;
}

.chiller-theme .sidebar-wrapper .sidebar-header {
    box-shadow: 0px 5px 5px -5px #a4a6a6;
    font-weight: bold;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand > a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a {
    color: rgba(0, 0, 0, 0.9);
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand > a:hover {
    color: rgba(0, 0, 0, 0.9);
}

.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-none-dropdown.active > a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a {
    color: #ee5623;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme
    .sidebar-wrapper
    .sidebar-dropdown
    .sidebar-submenu
    li
    a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-none-dropdown.active a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #ee5623;
    text-shadow: 0px 0px 10px rgba(238, 86, 35, 0.3);
}

.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background: #e3e4e4;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #000;
}

.chiller-theme .sidebar-footer {
    background: #f8f9fa;
    box-shadow: 0px -5px 5px -5px #a4a6a6;
    z-index: 1500;
}

.chiller-theme .sidebar-footer > a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer > a:last-child {
    border-right: none;
}

.text-kku {
    color: #ee5623 !important;
}

.text-kku:hover,
.text-kku:active {
    color: #9e3918 !important;
}

.navbar-brand {
    font-weight: bolder;
}

.bg-kku {
    background-color: #ee5623 !important;
}

.select2-container--bootstrap4 .select2-selection {
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: 0rem !important;
    font-size: 1rem;
    outline: 0;
}

.select2-container--bootstrap4
    .select2-selection--multiple
    .select2-selection__choice {
    color: #495057;
    background: transparent;
    border: 1px solid #343a40;
    border-radius: 0;
    cursor: default;
    float: left;
    margin: -0.25rem 0 0 0.1875rem;
    padding: 0.1rem 0.75rem;
}

.select2-container--bootstrap4 .select2-results__option {
    padding: 0 1rem !important;
    font-size: 1rem;
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 0 !important;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-container--bootstrap4
    .select2-selection--multiple
    .select2-selection__choice {
    color: #495057;
    background: transparent;
    border: 1px solid #343a40;
    border-radius: 0;
    cursor: default;
    float: left;
    margin: -0.25rem 0 0.5rem 0.1875rem !important;
    padding: 0.1rem 0.75rem;
}
