// Body
$body-bg: #fff;

// Color
$transparent: rgba(0, 0, 0, 0) !default;

// Global
$border-radius: 0 !default;
$border-width: 0 !default;

// Card
$card-bg: #f8f9fa !default;

// Modal
$modal-content-border-radius: 0 !default;

// Input
$input-border-radius-sm: 0 !default;
$input-border-radius-lg: 0 !default;
$input-border-width: 1px !default;

// hr line
$hr-border-width: 1px !default;

// List group item
$list-group-border-width: 1px !default;
$list-group-bg: $transparent !default;

// Table
$table-border-width: 1px !default;
